@import './reset';

@mixin centerItem() {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    scroll-snap-type: y mandatory;

    // scrollbar / barra de navegação
    ::-webkit-scrollbar {
        width: 12px;
        transition: .5s;
    }
    ::-webkit-scrollbar-track {
        background: var(--color-scrollbar-bg-yellow-black);
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 12px;
        border-radius: 12px;
        border: 3px solid var(--color-scrollbar-thumb-blue-talk);
    }

}

body {
    scroll-snap-type: y mandatory;
}

#bg {
    display: flex;
    position: absolute;
    z-index: -1;
    justify-content: space-between;
    height: 400%;
    width: 100%;
    
    #bg-1, #bg-2, #bg-3, #bg-4, #bg-5 {
        width: 20%;
    }
    #bg-1 {
        background: #405CD9;
    }
    #bg-2 {
        background: #A755DA;
    }
    #bg-3 {
        background: #E4325B;
    }
    #bg-4 {
        background: #EB6D4F;
    }
    #bg-5 {
        background: #F2CD6E;
    }
}

main {
    display: flex;
    flex-direction: column;
    background: var(--color-background-main);
    backdrop-filter: blur(20px);

    #bg-grup-first, #bg-grup-second {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 50vh;
        filter: contrast(150%);
    }
    #bg-grup-second {
        bottom: 0;
        rotate: 180deg;
    }
    

}


header {
    @include centerItem();
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    width: 70vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 2.68vh;
    height: 7vh;
    padding: 0 2vw;
    top: 3vh;
    background: rgba(17, 95, 151, 0.3);

    backdrop-filter: blur(10px);

    h1 {
        font-size: 1.3rem;
        color: #FFF;
        font-weight: 900;
        letter-spacing: 1px;
    }
    #header-div-container {
        @include centerItem();
        gap: 20px;

        
        img{
            height: 1.6rem;
        }
        #vertical-bar {
            background: #fff;
            width: 2px;
            height: 30px;
            border-radius: 10px;
        }
        #div-imgs-1, #div-imgs-2 {
            @include centerItem();
            gap: 15px;

        } 
        #div-imgs-2 {
            height: 26px;
            width: 26px;
        }
        

    }
    
}

section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
}

#presentation {
    @include centerItem();
    flex-direction: column;
    position: relative;

    #div-container {
        display: flex;
        position: absolute;
        top: 30vh;
        width: 75vw;
        margin: 0 auto;
        justify-content: space-between;
    }

    #div-texts {

        h2 {
            color: #386d91;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 4rem;
        }
        // É possível criar uma função para estiliar elementos que possuem esse efeito
        h1 {
            font-family: Inter;
            font-size: 8rem;
            font-style: normal;
            font-weight: 900;
            line-height: normal;

            background: linear-gradient(97deg, rgba(0, 198, 198, 0.75) 40.02%, rgba(165, 68, 225, 0.912) 80.7%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            &::after {
                content: 'Front-End';
                font-family: Poppins;
                background: var(--color-yellow-talk);
                -webkit-background-clip: text;

                font-size: 1.1rem;
                font-weight: 600;
                padding: 2px 10px;
                border: solid var(--color-yellow-talk) 3px;
                border-radius: 10px;

                position: relative;
                // Corrigir esses px
                bottom: 50px;
                left: 25px;

                font-weight: 700;
            }

        } 
        p {
            width: 30vw;
            color: #d9d9d9;
            font-family: Inter;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    #div-profile {
        // @include centerItem();
        // background: #3ce3fb;
        // width: 25vw;
        // height: 50vh;
        // border-radius: 40px;

        video {
            // height: 50vh;
            // Quando for fazer o responsivo, colocar o width: 30vw; quando entrar em telas menores. Pois ficará com tamanho adequado.
            width: 25vw;
            border-radius: 40px;
            background: #3ce3fb;
        }
    }

    #div-scroll {
        @include centerItem(); // Será animação
        position: absolute;
        bottom: 5vh;
        // top: 14vh;
        border: 2px solid var(--color-grey);
        height: 12vh;
        width: 60px;
        border-radius: 30px;

        img {
            position: relative;
            height: 3.5vh;
        }
    }

}

#about-me {
    @include centerItem();
    position: relative;

    #div-container {
        position: absolute;
        top: 30vh;
        // Colocar em todas as sections
        max-width: 1200px;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr 1fr;
        width: 90vw;
        gap: 2vh 7vw;
    }

    #div-background {
        @include centerItem();
        background: var(--color-background-blue);
        height: 35vh;
        width: 260px;
        border-radius: 30px;
        
        overflow: hidden;

        img {
            height: 35vh;
            -webkit-transform: scale(1.5);
        }
    }

    #div-technologies {
        grid-row: 2;
        width: 260px;

        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        height: 20vh;
        p {
            @include centerItem();
            color: var(--color-text);
            text-align: center;
            font-family: Inter;
            font-size: 1rem;
            font-style: normal;
            font-weight: 900;
            border-radius: 7px;

            width: 100%;
            height: 100%;
        }
        p:nth-child(1) {
            background: #FF7554;
        }
        p:nth-child(2) {
            background: rgba(110, 191, 248, 0.60);
        }
        p:nth-child(3) {
            background: #cb6699;
        }
        p:nth-child(4) {
            background: #f2cd6e;
        }
        p:nth-child(5) {
            background: linear-gradient(90deg, rgba(242,78,30,1) 0%, rgba(255,114,98,1) 20%, rgba(162,89,255,1) 43%, rgba(26,188,254,1) 63%, rgba(10,207,131,1) 84%);
        }
        p:nth-child(6) {
            background: #744e3b;
        }
        p:nth-child(7) {
            background: #556096;
        }
        p:nth-child(8) {
            background: #086590;
        }
        
    }

    #about-me-title {
        grid-column: 2;
        grid-row: 1;
        align-self: end;
        font-family: Inter;
        font-size: 4rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        background: linear-gradient(97deg, rgba(0, 198, 198, 0.75) 40.02%, rgba(165, 68, 225, 0.912) 80.7%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        &::after {
            content: 'Front-End';
            font-family: Poppins;
            background: var(--color-yellow-talk);
            -webkit-background-clip: text;

            font-size: 1.1rem;
            font-weight: 600;
            padding: 2px 10px;
            border: solid var(--color-yellow-talk) 3px;
            border-radius: 10px;

            position: relative;
            bottom: 10px;
            left: 15px;

            font-weight: 700;
        }
    }

    #about-me-title, #about-me-text {
        position: relative;
        bottom: 5vh;
    }

    p {
        width: 30vw;
        color: var(--color-text);
        font-family: Inter;
        font-size: 1.25rem;
        font-weight: 300;
    }

    

    #div-nickname {
        position: absolute;
        bottom: 4vh;
        right: 18vh;

        h1 {
            font-family: Inter;
            font-size: 8rem;
            font-style: normal;
            font-weight: 900;
            line-height: normal;

            background: linear-gradient(97deg, rgba(0, 198, 198, 0.75) 40.02%, rgba(165, 68, 225, 0.912) 80.7%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

}

shader-art {
    display: block;
    width: 100%;
    height: 100%;
  }
  
shader-art canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#about-me #div-bg {
    position: absolute;
    z-index: -1;
    top: 13vh;
    width: 100%;
    height: 35vh;
}

.dg.ac {
    display: none;
}

#projects {
    @include centerItem();
    flex-direction: column;
    position: relative;

    .formats {
        position: absolute;
        // scale: 1.1;
        z-index: -1;
    }
    #circle {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: 2px solid var(--color-yellow-talk);
    }
    #square {
        width: 15rem;
        height: 15rem;
        border: 2px solid var(--color-yellow-talk);
    }
    #rectangle {
        width: 24rem;
        height: 14rem;
        border: 2px solid var(--color-yellow-talk);     
    }
    #star {
        img {
            height: 200px;
        }
    }
    #elipse {
        width: 24rem;
        height: 14rem;
        border: 2px solid var(--color-yellow-talk);
        border-radius: 50%;

       
    }
    
    #div-container {
        @include centerItem();
        position: relative;
        top: 5vh;
        height: 90vh;
        width: 70vw;
        
        #div-title {
            @include centerItem();
            position: absolute;
            rotate: 90deg;
            top: 40vh;
            left: -10vw;

            justify-content: start;
            border: 2px solid var(--color-yellow-talk);
            border-radius: 20px;
            height: 3.6rem;
            width: 450px;

            transition: .5s;
    
            h1 {
                font-size: 4rem;
                font-family: 'Inter';
                font-weight: 600;
                letter-spacing: 3px;
                background: linear-gradient(272deg, rgba(110, 191, 248, 0.60) 6.99%, rgba(238, 47, 255, 0.80) 155.99%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        
        #div-carousel {
            @include centerItem();
            height: 100%;
            

            #div-carousel-container {
                display: grid;
                justify-items: center;
                position: relative;
                overflow-y: scroll;
                height: 100%;
                // width: 85vw;
                gap: 4vh;
                padding: 4vh 0 15vh 0;
                scroll-snap-type: y mandatory;

                &::-webkit-scrollbar {
                    display: none;
                }

                .carousel-item {
                    scroll-snap-align: center;
                    scroll-snap-stop: always;

                    background: #405CD9;
                    opacity: 1;
                    width: 50vw;
                    height: 60vh;
                    
                    transition: all .5s ease-in-out;
                    // z-index: -1;
                    border-radius: 30px;

                    
                }

                .active {
                    height: 70vh;
                    width: 65vw;
                }

                .carousel-item-1 {
                    scroll-snap-type: x mandatory;
                    // height: 60vh;
                    // width: 65vw;
                    // bottom: 45%;
                    opacity: .9;
                    // transform: translateY(20%);
                }

                .carousel-item-2 {
                    scroll-snap-type: x mandatory;
                    // height: 20vh;
                    // width: 50vw;
                    opacity: 0.8;
                    // bottom: 100%;
                    // transform: translateY(70%);
                }
                

                .carousel-item-3 {
                    
                    // top: 50%;
                    // transform: translateY(-50%);

                    background: #A755DA;
                }

                .carousel-item-4 {
                    
                }


            }
        }
        
    }

} 

footer {
    @include centerItem();
    flex-direction: column;
    gap: 20px;

    height: 100vh;
    scroll-snap-align: center;

    #contact {
        display: grid;
        padding-top: 10vh;
        height: 80vh;
        width: 70vw;

        h1 {
            color: #FFF;
            font-family: Inter;
            font-size: 6rem;
            font-style: normal;
            font-weight: 900;
            text-transform: uppercase;

            span {
                color: transparent;
                -webkit-text-stroke: 3px #FFF;
                position: relative;

                &::before {
                    content: '';
                    background: rgba(110, 191, 248, 0.60);
                    height: 10vh;
                    width: 35vw;
                    display: block;
                    position: absolute;

                    top: 46px;
                    left: 1.2vw;
                    z-index: -1;
                }

            }
        }

        #button {
            display: grid;
            // position: relative;
            place-items: center;
            justify-self: end;
            width: 300px;
            border-radius: 30px;
            overflow: hidden;

            h3 {
                z-index: 1;
                color: #fff;
                text-align: center;
                font-family: Inter;
                font-size: 64px;
                font-style: normal;
                font-weight: 800;
            }

            shader-art {
                z-index: -1;
                position: absolute;
                // border-radius: 30px;
                background: #405CD9;
                height: 18vh;
                width: 300px;
            }

        }

    }

    // #separate-div {
    //     height: 2px;
    //     width: 73vw;
    //     border-radius: 2px;
    //     background: #fff;
    //     margin: 30px 0 10px 0;
    // }

    #footer {
        display: flex;
        justify-content: space-between;
        height: 20vh;
        width: 70vw;
        padding: 10px;

        border-top: solid 2px #FFF;

        h3 {
            text-align: center;
            font-family: Poppins;
            font-size: 2rem;
            font-style: normal;
            font-weight: 900;

            background: linear-gradient(90deg, rgb(34, 163, 255)6.47%, rgba(110, 191, 248, 0.00) 135.4%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        #div-container {
            display: flex;
            gap: 5vw;

                .div-links {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    h2 {
                        color: #FFF;
                        font-family: Inter;
                        font-size: 1.3rem;
                        font-style: normal;
                        font-weight: 300;
                    }

                    ul {
                        display: grid;
                        justify-content: space-between;
                        height: 13vh;

                        li {
                            color: #FFF;
                            list-style: none;
                            font-family: Inter;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 300;line-height: normal;
                        }

                    }

                        
                        
                }

            
        }

    }

}

// Responsividade
// Tablet - Retrato mode

// 1390 x 750
@media (max-width: 1391px) {
    #presentation{
        #div-container{
            top: 25vh;
        }
        
        #div-profile{
            video{
                width: 30vw;
            }
        }
    }
    footer #contact h1 {
        font-size: 5.5rem;
    }

}

// 1200 x 850
@media (max-width: 1200px) {
    #presentation {
        #div-profile video {
           width: 33vw;
       }
    }
}

// 1025 x 770
@media (max-width: 1025px) {
    #presentation{
        // #div-container {
        //     width: 83vw;
        // }
        #div-texts p {
            width: 39vw;
        }
    }

    // #about-me #div-container{
    //     max-width: 950px;
    // }

    footer #contact h1 {
        font-size: 5rem;
    }
}

// 1005
@media (max-width: 1105px) {
    #presentation #div-container {
        width: 85vw;
    }
}

//428 x 926
@media (max-width: 430px) {
    main{
        #bg-grup-first {
            height: 15vh;
            // width: 100%;
        }
        #bg-grup-second {
            height: 15vh;
        }
    }
    header{
        height: 65px;
        width: 93vw;
        padding: 25px;
        top: 2vh;
    }

    #presentation{

        #div-container{
            display: grid;
            top: 13vh;
            gap: 2vh;
            

            #div-texts{
                #h1-name{
                    font-size: 6rem;

                    &::after {
                        left: 10px;
                    }
                }

                p{
                    display: none;
                }
            }

            #div-profile{

                video{
                    width: 100%;
                }
            } 
        }

        #div-scroll{
            bottom: 1vh;
        }
    } 
    
    #about-me #div-bg {
        top: 12vh;
        height: 20vh;
    }
    #about-me {
       
        #div-container {
            grid-template-columns: 130px 1fr;
            top: 25vh;
        }

        #div-background {
            height: 150px;
            width: 150px;

            img {
                height: 25vh;
            }
        }
        #div-technologies {
            grid-column: 1 / -1;
            grid-template-columns: repeat(4, 1fr);
            height: 10vh;
            width: 100%;
            gap: 8px;
            p {
                // background: #386d91;
                min-height: 35px;
            }
        }


            #about-me-title {
                font-size: 2.5rem;
                bottom: 0;

                &::after {
                    bottom: 20px;
                    font-size: .875rem;
                }
            }
            #about-me-text {
                grid-column: 1 / -1;
                width: 100%;
                bottom: 8vh;
            }


        #div-nickname {
            display: none;
        }
    }

    #projects {
        max-width: 100vw;

        .formats {
            display: none;
        }
        #div-container {
            flex-direction: column;
            width: 100%;
            padding: 20px;
            
            #div-title {
                    rotate: 0deg;
                    width: 100%;
                    top: -7.5vh;
                    padding: 10px;
                    left: 0;

                h1 {
                    font-size: 3rem;
                }
            }

            #div-carousel {
                position: absolute;
                top: 4vh;
                // left: 10vw;

                #div-carousel-container {
                    padding: 0 10vw; 
                    display: flex;
                    align-items: center;
                    max-width: 100vw;
                    scroll-snap-type: x mandatory;

                    .active {
                        min-width: 80vw;
                        min-height: 75vh;
                    }
                }
            }

        }  
    }
    
   #div-carousel #div-carousel-container .carousel-item  {
    min-width: 70vw;
    min-height: 55vh;
   }

   footer {
        justify-content: end;

        #contact {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 91vh;
            width: 100vw;
            padding: 20px;

            h1 {
                font-size: 4rem;

               span {

                &::before {
                    width: 100%;
                    top: 40px;
                    height: 7vh;
                }
               }
            }

            // Obs.: Refatorar utilizando essas propriedades de position
            #button {
                justify-self: center;
                height: 15vh;
                width: 90vw;
                position: relative;
                z-index: 1;

                shader-art {
                    height: 15vh;
                    width: 100%;
                    position: absolute;
                }
            }
        }
        
        #separate-div {
            display: none;
        }
        #footer {
            display: none !important;
        }
    }


}

// 390
@media (max-width: 395px) {
    #presentation #div-texts h2 {
        font-size: 3rem;
    }
    #presentation #div-container {
        justify-content: center;

        #div-profile {
            display: grid;
            place-items: center;
            // align-items: center;
            // height: 100%;

            video {
                height: 40vh;
            }
        }
        
        #div-texts #h1-name {
            font-size: 5rem;
        }
    } 
   
}

// 375
@media (max-width: 376px) {
    #about-me #div-bg {
        top: 13.5vh;
    }
    #about-me #about-me-title {
        font-size: 2.2rem;
    }
    #about-me #about-me-title::after {
        bottom: 10px;
    }
    #about-me #about-me-text {
        bottom: 10vh;
    }
    footer #contact h1 {
        font-size: 3.8rem;
    }
    footer #contact #button h3 {
        font-size: 3.5rem;
    }
}

// 360
@media (max-width: 360px) {
    #presentation #div-container #div-texts #h1-name::after {
        font-size: 1rem;
    }
    #about-me #about-me-title {
        font-size: 2rem;
    }
    footer #contact h1 {
        font-size: 3.6rem;
    }
}
